body{
    height: 100vh;
    width: 100vw;
    background-color: FFB35C;
}

h1{
    font-size: 50;
    text-align: center;
    font-family: century gothic
}

img1{
    position:fixed;
    z-index: 2;
    right: 15%;
    border-radius: 0.5rem;
}